.card-illustration {
  margin: 20px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
}

.card-group {
  flex-wrap: wrap;
}

.card {
  min-width: 200px;
  align-items: center;
}

.card-illustration img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  border-radius: 15px;
}

.card .card-title {
  text-transform: capitalize;
}

.card .card-text {
  margin: 0;  
}

#addWine {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}
